<section style="margin-top: 100px;">
<hr class="section-line">
<div class="row">
  <div class="left">
    <h2>CATEGORY</h2>
    <ul id="myCategories">
      {{#if category}}
      {{#each category}}
      <li><a href="{{_id}}">{{categoryname}}</a></li>
      {{/each}}
      {{/if}}
    </ul>
    <div style="padding-left: 10px; margin-top: 3px;" class="add-category">
          <p><a href="" class="btn-create" id="add_Category">Add category</a></p>
          
          <section id="category_form_area">
              <form action="/createcategory" method="post" class="form-horizontal" role="form" id="categoryForm">
                <div class="form-group">
                    <input name="categoryname" type="text" class="form-control" id="categoryname" placeholder="Enter Category" required>
                </div>
                <div class="form-group">
                    <button class = "add-button" type="submit">Add</button>
                </div>
              </form>
              <p><a href="" class="btn-create" id="add_stock">Add Stock</a></p>



              <section id="stock_form_area">
                <form action="/poststock/{{category_id}}" enctype="multipart/form-data" method="post" class="form-horizontal" role="form" id="stockForm">
                <div class="form-group">
                    <input type="file" name="file" class="form-control" id="file" required>
                </div>

                <div class="form-group">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Product name" required>
                </div>

                <div class="form-group">
                    <textarea name="description" class="form-control" id="description" placeholder="Description" required></textarea>
                </div>

                <div class="form-group" style="margin-top: -10px;">
                  <h5 class="text-center" style="font-weight: bold;">wholesale price </h5>
                  <div class="col-sm-6">
                    <input name="wpminprice" type="text" class="form-control input-sm" id="wpminprice" placeholder="min" required>
                  </div>
                  <div class="col-sm-6">
                    <input name="wpmaxprice" type="text" class="form-control input-sm" id="wpmaxprice" placeholder="max" required>
                  </div>
                </div>

                <div class="form-group" style="margin-top: -8px;">
                  <h5 class="text-center" style="font-weight: bold;">Retail Price</h5>
                  <div class="col-sm-6">
                    <input name="rpminprice" type="text" class="form-control input-sm" id="rpminprice" placeholder="min" required>
                  </div>
                  <div class="col-sm-6">
                    <input name="rpmaxprice" type="text" class="form-control input-sm" id="rpmaxprice" placeholder="max" required>
                  </div>
                </div>

                <div class="form-group">
                    <button class = "add-stock-button" type="submit">Add</button>
                </div>
                </form>

              </section>
          </section>
      </div>
  </div>
  
  <div class="right" style="background-color:#fff;">
    <div>
      <h3 class="catname"></h3>
    </div>
    <h5 class="contact"><span><a href="/#contact3"></i> Contact us</a></span> to get current price or <span><a href="" class="btn-createModal">Get Quote</a></span></h5>
    <hr class="section-line2">
    <ul id="stock">
      {{#if stock}}
      {{#each stock}}
      <li>
        <img style="align-self: flex-start;" src="../public/upload/{{filename}}" alt="{{name}}" title="{{name}}" width="130px">
        <div class="about-product">
          <h3 class="productname">{{name}}</h3>
          <p class="description">{{description}}</p>
          <p class="availability">Availability: <span class="inStock">In Stock</span></p>
        </div>
        <div class="price">
          <p class= "wp">Wholesale price: <span class="min">&#8358;{{wpminprice}} - </span><span class="max">&#8358;{{wpmaxprice}}</span></p>
           <p class= "rp">Retail price: <span class="min">&#8358;{{rpminprice}} - </span><span class="max">&#8358;{{rpmaxprice}}</span></p>
        </div>
      </li>
      <hr class="section-line2">
      {{/each}}
      {{/if}}
    </ul>
  </div>
</div>
</section>
















<section>
  {{!-- Get quote Modal --}}
  <div class="modal" style="font-family: Georgia, 'Times New Roman', Times, serif;" id="quoteModal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        ​
        <div class="modal-header text-left navbar-default">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel2">Get Quote</h4>
        </div>
        ​
        <div class="modal-body">
          <form method="post" action="/quote" class="form-horizontal" role="form" id="quoteForm">
            <div class="form-group">
              <div class="col-sm-12">
                <input name="name" type="input" class="form-control input" placeholder="Name">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input name="phone" type="input" class="form-control input" placeholder="Phone number">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input name="email" type="input" class="form-control input" placeholder="Email" required>
                <p class="text-left" style="font-size:11px;margin-top:5px;">&#42;Valid email address required</p>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-7">
                <p class="text-left" style="font-size:12px;">How can we help you?</p>
                <textarea name="request" class="input" cols="78" type="input"
                  placeholder="I was wondering about availability and rates. I need help with the following:"></textarea>
              </div>
            </div>
            <div class="form-group text-right">
              <div class="col-sm-12">
                <button type="submit" class="submit-button">Submit</button>
              </div>
            </div>
          </form>
        </div>
        ​
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</section>